html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(245, 221, 221);
}

nav {
    background-color: rgb(189, 86, 86);
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: pink;
    font-weight: 600;
    padding: 8px 0;
}

nav ul li a:hover {
    color: rgb(251, 251, 251);
    border-bottom: 3px solid rgb(255, 255, 255);
}

header {
    text-align: center;
}

.logo img {
    width: 65px;
}

.container {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.intro {
    padding: 10px 20px;
    background-color: rgba(215, 102, 121, 0.22);
    width: 35%;
    height: 250px;
}

.poto img {
    width: 200px;
    height: auto;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.872);
    border-radius: 5%;
}

.me {
    padding: 10px 20px;
    background-color: rgba(215, 102, 121, 0.22);
    width: 35%;
    height: 250px;
}

.hobi {
    text-align: center;
}

.hobi ul {
    display: inline-flex;
    align-items: center;
    gap: 20rem;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.anime {
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(215, 102, 121, 0.22);
}

.song {
    width: 400px;
    height: 230px;
    text-align: center;
    margin-bottom: 20px;
    background-color: rgba(215, 102, 121, 0.22);
}

.anime img {
    width: 100px;
    height: 150px;
    margin: 10px;
    border: 3px solid black;
    border-radius: 5%;
}

.song a {
    display: flex;
    flex-direction: column;
    margin: 15px 10px;
    padding: 10px;
    background-color: rgb(245, 221, 221);
    text-decoration: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

.song a:hover {
    color: rgb(189, 86, 86);
    text-decoration: underline;
}

footer {
    background-color: rgb(189, 86, 86);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.find-me {
    padding: 10px;
    display: flex;
}

.find-me h3 {
    text-align: center;
}

.contact-box a {
    text-decoration: none;
    padding: 20%;
    color: pink;
}

.contact-box a:hover {
    color: rgb(251, 251, 251);
    text-decoration: underline white;
}

